<VirtualHost *:80>
        ServerAdmin webmaster@localhost
        DocumentRoot {{ getenv "APACHE_VHOST_DIR" "/var/www/html" }}
        ServerName default

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

        <FilesMatch "^\.">
            Order allow,deny
            Deny from all
        </FilesMatch>

        <FilesMatch "\.(?:sh|sql|mysql|po|tpl|make|test)$">
            Order allow,deny
            Deny from all
        </FilesMatch>

        <FilesMatch "^Makefile">
            Order allow,deny
            Deny from all
        </FilesMatch>

        <DirectoryMatch "^\.|\/\.">
            Order allow,deny
            Deny from all
        </DirectoryMatch>
</VirtualHost>
